<html layout:decorate="/home.html" >

<head></head>
<body>
<div layout:fragment="content">
    <form th:action="@{/ticket/create}" method="post" th:object="${ticket}">
        <div class="mb-3">
            <label for="customerName" class="form-label">Tên khách hàng</label>
            <input type="text" class="form-control" id="customerName" name="customerName" th:field="*{customerName}">
        </div>
        <div class="mb-3">
            <label for="phoneNumber" class="form-label">Số điện thoại</label>
            <input type="text" class="form-control" id="phoneNumber" name="phoneNumber" th:field="*{phoneNumber}">
        </div>
        <div class="mb-3">
            <label for="customerReviews" class="form-label">Ý kiến khách hàng</label>
            <textarea rows="5" cols="33" class="form-control" id="customerReviews" name="customerReviews" th:field="*{customerReviews}">
                Mô tả
            </textarea>
        </div>
        <div class="mb-3">
            <label for="customerReviews" class="form-label">Phòng ban xử lí</label>
            <select name="department.id" th:field="*{department.id}">
                <option th:each="d : ${departmentList}" th:value="${d.id}" th:text="${d.name}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Thêm</button>
    </form>
</div>
</body>
</html>